<div class="content">
  <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-content">
          <form #clienteProductoForm="ngForm" (ngSubmit)="addClientesProductos(clienteProductoForm)">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="clienteproductoService.selectedClienteProducto.id">
            <span class="card-title" style="text-align: center">Personal Minero</span>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="cliente_id" #cliente_id="ngModel" [(ngModel)]="clienteproductoService.selectedClienteProducto.cliente_id"
                  placeholder="seleccion el cliente">
              </div>
              <input type="hidden" name="cliente_id" #cliente_id="ngModel" [(ngModel)]="clienteService.selectedCliente.id" placeholder="seleccione el cliente">

              <div class="input-field col s12">
                <input type="text" name="producto_id" #producto_id="ngModel" [(ngModel)]="clienteproductoService.selectedClienteProducto.producto_id"
                  placeholder="nombres">
              </div>
              <input type="hidden" name="producto_id" #producto_id="ngModel" [(ngModel)]="productoService.selectedProducto.id" placeholder="seleccione el cliente">

              <div class="card-action">
                <div class="input-field col s12 ">
                  <button class="btn left">Guardar</button>
                  <button class="btn right" (click)="resetForm(clienteProductoForm)">Limpiar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <form id="filter">
      <div class="col s5" style="text-align: center">
        <label style="font: outline;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px; color: blue;">Clientes</label>
        <hr color="blue" size=2>
        <label for="pro" style="font-size: 16px;color:black; margin-right: 5%">Buscar: </label>
        <input type="text" name="term" [(ngModel)]="term" placeholder="Buscar por nombre" style="width: 60%">

        <table class="striped">
          <thead style="font-size: 16px">
            <th>Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clienteService.clientes | filter:term ">
              <td>{{cliente.id}}</td>
              <td>{{cliente.nombreCliente}}</td>
              <td>{{cliente.apellidoCliente}}</td>
              <td>{{cliente.cedulaCliente}}</td>
              <td>
                <a (click)="seleccionarCliente(cliente)" style="cursor: pointer;">seleccionar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <form id="producto">
      <div class="col s4" style="border-left: 2px solid blue; text-align: center; ">
        <label style="font: outline;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px; color: blue; ">Productos</label>
        <hr color="blue" size=3>
        <label for="pro" style="font-size: 16px;color:black; margin-right: 5%">Buscar: </label>
        <input type="text" name="pro" [(ngModel)]="pro" placeholder="Buscar por nombre" style="width: 60%">

        <table class="striped">
          <thead title="Productos" style="font-size: 16px">
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productoService.productos | producto:pro">
              <td>{{producto.id}}</td>
              <td>{{producto.nombreProducto}}</td>
              <td>$ {{producto.precioProducto}}</td>
              <td>
                <a (click)="seleccionarProducto(producto)" style="cursor: pointer;">seleccionar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <div class="col s10">
      <table class="striped">
        <thead style="font-size: 16px">
          <th>id </th>
          <th>cliente</th>
          <th>producto</th>
          <th>Operations</th>
        </thead>
        <tbody>
          <tr *ngFor="let clienteproducto of clienteproductoService.clientesproductos">

            <td>{{clienteproducto.id}}</td>
            <td>{{clienteproducto.cliente_id}}</td>
            <td>{{clienteproducto.producto_id}}</td>
            <td>
              <a (click)="editClientesProductos(clienteproducto)" style="cursor: pointer;">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deletedClientesProductos(clienteproducto.id)" style="color: green; cursor: pointer;">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!-- Ocular elemento -->
  <span [hidden]="true">Oculto</span>

  <!-- Mostrar elemento -->
  <span [hidden]="false">Visible</span>

</div>